<div class="row">
    <div class="col mb-3">
      <label for="nameWithTitle" class="form-label">Jina Kamili / Full Name</label>
      <input
        required
        type="text"
        id="nameWithTitle"
        name="member_name"
        class="form-control"
        placeholder="Member Full Name" />
    </div>
  </div>
  <div class="row g-2 ">
    <div class="col mb-3">
      <label for="membPhone" class="form-label">Namba ya Simu / Phone</label>
      <input
        type="text"
        id="membPhone"
        class="form-control"
        name="member_phone"
        placeholder="255 xxx xxx xxx" />
    </div>
    <div class="col mb-3">
      <label for="membGender" class="text-light fw-medium d-block">Jinsia / Gender</label>
      {%for gender in config.enums.genders %}
      <div class="form-check form-check-inline mt-3">
        <input
          class="form-check-input"
          type="radio"
          name="member_gender"
          id="membGender{{gender.name}}"
          value="{{gender.value}}" />
        <label class="form-check-label" for="membGender{{gender.name}}">{{gender.name}}</label>
      </div>
      {%endfor%}                    
    </div>
  </div>
  <div class="row">
    <div class="col-7 mb-3">
      <label for="membEmail" class="form-label">Barua Pepe / Emial (Kama ipo / If available)</label>
      <input
        type="email"
        id="membEmail"
        class="form-control"
        name="member_email"
        placeholder="xxx@xxx.xxx" />
    </div>
    <div class="col-5 mb-3">
      <label for="membZone" class="form-label">Zoni / Zone</label>
      <select name="member_zone" class="form-select" id="membZone" aria-label="">
        {%for zone in config.enums.zones %}
            <option value="{{zone.zone_unique_id}}">{{zone.zone_name}}</option>
        {%endfor%}  
      </select>
    </div>
  </div>
  <div class="row g-2">
    <div class="col mb-3">
      <label for="membMarirual" class="form-label">Hali ya Ndoa / Maritual Status</label>
      <select name="member_maritual_status" class="form-select" id="membMarirual" aria-label="">
        {%for status in config.enums.maritual %}
            <option value="{{status.value}}">{{status.name}}</option>
        {%endfor%}  
      </select>
    </div>
    <div class="col mb-3">
      <label for="membEducation" class="form-label">Kiwango cha Elimu / Education Level</label>
      <select name="member_education_level" class="form-select" id="membEducation" aria-label="">
        {%for assistance in config.enums.education %}
            <option value="{{assistance.value}}">{{assistance.name}}</option>
        {%endfor%}  
      </select>              
    </div>
  </div>
  <div class="row g-2">
    <div class="col mb-3">
      <label for="membCity" class="form-label">Mji / Resident City</label>
      <input
        type="text"
        id="membCity"
        class="form-control"
        name="member_resident_city"
        placeholder="eg. Dodoma" />
    </div>
    <div class="col mb-3">
      <label for="membStreet" class="form-label">Mtaa / Resident Steet</label>
      <input  placeholder="eg. Majengo" name="member_resident_street" type="text" id="membStreet" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="nameOccupation" class="form-label">Kazi / Occupation</label>
      <input
        required
        type="text"
        id="nameOccupation"
        name="member_occupation"
        class="form-control"
        placeholder="Member Occupation" />
    </div>
  </div>