<!-- Basic Bootstrap Table -->
<div class="card ps">
    <h5 class="card-header">{{data.title}}</h5>
    <div class="table-responsive text-nowrap">
        <table class="table ps">
            <thead>
                <tr>
                    <th>S.N</th>
                    {% for head in data.headers%}
                    <th>{{head}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for row in data.items %}
                <tr id="item-{{ forloop.counter }}">
                    <td>{{forloop.counter}}</td>
                    {% for key, value in row.items %}
                    {%if data.has_action and key == 'actions' %}
                    <td>
                        <div class="dropstart">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                {% for action in value %}
                                <button hx-target="#item-{{ forloop.counter }}" class="dropdown-item" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' {{action.method}}="{% url action.url action.id %}"><i class="bx bx-{{action.icon}} me-2"></i>
                                    {{action.name}}
                                </button>
                                {%endfor%}
                            </div>
                        </div>
                    </td>
                    {%else%}
                    <td>
                        {{value}}
                    </td>
                    {%endif%}
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.body.addEventListener('htmx:afterDelete', function (event) {
        var targetId = event.detail.target.id;
        var tableRow = document.getElementById(targetId);
        if (tableRow) {
            tableRow.remove();
        }
    });
</script>
<!--/ Basic Bootstrap Table -->