<!-- Basic Bootstrap Table -->
<div class="card ps">
    <h5 class="card-header">{{data.title}}</h5>
    <div class="table-responsive text-nowrap">
        <div class="row m-2">
            <div class="col-md-6">
                <input class="form-control" type="text" id="searchInput" placeholder="Search..."
                    hx-trigger="keyup delay:500ms">
            </div>
        </div>

        <table id="dataTable" class="table ps">
            <thead>
                <tr>
                    <th>S.N</th>
                    {% for head in data.headers%}
                    <th>{{head}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for row in data.items %}
                <tr id="item-{{ forloop.counter }}">
                    <td>{{forloop.counter}}</td>
                    {% for key, value in row.items %}
                    {%if data.has_action and key == 'actions' %}
                    <td>
                        <div class="dropstart">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                {% for action in value %}
                                <button hx-target="#item-{{ forloop.counter }}" class="dropdown-item"
                                    hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                                    {{action.method}}="{% url action.url action.id %}"><i
                                        class="bx bx-{{action.icon}} me-2"></i>
                                    {{action.name}}
                                </button>
                                {%endfor%}
                            </div>
                        </div>
                    </td>
                    {%else%}
                    <td>
                        {{value}}
                    </td>
                    {%endif%}
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.body.addEventListener('htmx:afterDelete', function (event) {
        var targetId = event.detail.target.id;
        var tableRow = document.getElementById(targetId);
        if (tableRow) {
            tableRow.remove();
        }
    });

    function performSearch() {
        const searchInput = document.getElementById('searchInput');
        const dataTable = document.getElementById('dataTable');
        const tableRows = dataTable.getElementsByTagName('tr');
        const searchValue = searchInput.value.toLowerCase();

        for (let i = 1; i < tableRows.length; i++) {
            const rowData = tableRows[i].textContent.toLowerCase();

            if (rowData.includes(searchValue)) {
                tableRows[i].style.display = '';
            } else {
                tableRows[i].style.display = 'none';
            }
        }
    }

    // Add the input event listener
    document.getElementById('searchInput').addEventListener('input', performSearch);

    // Perform the initial search
    performSearch();

</script>