<div class="modal modal-lg fade " id="newMembersForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newMembersFormTitle">Member Form</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <form hx-post="{% url 'members' %}" hx-target="#content-div">
            {% csrf_token %}
            <div class="modal-body">
              <!-- Component -->
              {% include "components/registration.html" %}
            </div>
    
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                <i class="menu-icon tf-icons bx bx-x"></i>
                Close
              </button>
              <button type="submit" value="submit" class="btn btn-primary" data-bs-dismiss="modal">
                <i class="menu-icon tf-icons bx bx-user-plus"></i>
                Save member
              </button>
            </div>

        </form>

      </div>
    </div>
</div>

