<div class="modal modal-lg fade " id="newVisitorFormm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newVisitorFormmTitle">Visitor Form</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <form hx-post="{% url 'visitors' %}" hx-target="#content-div">
            {% csrf_token %}
            <div class="modal-body">
              <div class="row">
                <div class="col mb-3">
                  <label for="nameWithTitle" class="form-label">Name</label>
                  <input
                    required
                    type="text"
                    id="nameWithTitle"
                    name="visitor_name"
                    class="form-control"
                    placeholder="Visitor Full Name" />
                </div>
              </div>
              <div class="row g-2 ">
                <div class="col mb-3">
                  <label for="visPhone" class="form-label">Phone</label>
                  <input
                    type="text"
                    id="visPhone"
                    class="form-control"
                    name="visitor_phone"
                    placeholder="255 xxx xxx xxx" />
                </div>
                <div class="col mb-3">
                  <label for="visGender" class="text-light fw-medium d-block">Gender</label>
                  {%for gender in config.enums.genders %}
                  <div class="form-check form-check-inline mt-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="visitor_gender"
                      id="visGender{{gender.name}}"
                      value="{{gender.value}}" />
                    <label class="form-check-label" for="visGender{{gender.name}}">{{gender.name}}</label>
                  </div>
                  {%endfor%}                    
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="visEmail" class="form-label">Emial (If available)</label>
                  <input
                    type="email"
                    id="visEmail"
                    class="form-control"
                    name="visitor_email"
                    placeholder="xxx@xxx.xxx" />
                </div>
              </div>
              <div class="row g-2">
                <div class="col mb-3">
                  <label for="visReasons" class="form-label">Visit Reasons</label>
                  <select name="visitor_visit_reasons" class="form-select" id="visReasons" aria-label="">
                    {%for reason in config.enums.reasons %}
                        <option value="{{reason.value}}">{{reason.name}}</option>
                    {%endfor%}  
                  </select>
                </div>
                <div class="col mb-3">
                  <label for="visAssistance" class="form-label">Spiritual Assistance You need</label>
                  <select name="visitor_spiritual_asistance" class="form-select" id="visAssistance" aria-label="">
                    {%for assistance in config.enums.assistance %}
                        <option value="{{assistance.value}}">{{assistance.name}}</option>
                    {%endfor%}  
                  </select>              
                </div>
              </div>
              <div class="row g-2">
                <div class="col mb-3">
                  <label for="visCity" class="form-label">Resident City</label>
                  <input
                    type="text"
                    id="visCity"
                    class="form-control"
                    name="visitor_resident_city"
                    placeholder="eg. Dodoma" />
                </div>
                <div class="col mb-3">
                  <label for="visStreet" class="form-label">Resident Steet</label>
                  <input  placeholder="eg. Majengo" name="visitor_resident_street" type="text" id="visStreet" class="form-control" />
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="visComments" class="form-label">Comments from Visitor</label>
                  <textarea
                    id="visComments"
                    class="form-control"
                    name="visitor_comments"
                    placeholder="Anything you would love to share with us ?"
                   ></textarea>
               
                </div>
              </div>
            </div>
    
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                <i class="menu-icon tf-icons bx bx-x"></i>
                Close
              </button>
              <button type="submit" value="submit" class="btn btn-primary" data-bs-dismiss="modal">
                <i class="menu-icon tf-icons bx bx-user-plus"></i>
                Save Visitor
              </button>
            </div>

        </form>

      </div>
    </div>
</div>