<div class="modal modal-lg fade " id="newNotificationForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newNotificationFormTitle">Send Visitors Notifications</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <form hx-post="{% url 'visitor_sms_notification' %}" hx-target="#content-div">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-12 mb-3">
                <label for="smsTemplate" class="form-label">Select Template</label>
                <select name="sms_template" class="form-select" id="smsTemplate" aria-label="">
                  {%for reason in config.enums.sms_templates %}
                      <option value="{{reason.value}}">{{reason.name}}</option>
                  {%endfor%}  
                </select>
              </div>
              
              <div id="visGenderDiv" class="col-12 mb-3">
                <label for="visGender" class="text-light fw-medium d-block">Receivers Type</label>
                <div class="form-check form-check-inline mt-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="visitor_group"
                    id="Last"
                    value="Week" />
                  <label class="form-check-label" for="Last">This Week Visitors</label>
                </div> 
                <div class="form-check form-check-inline mt-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="visitor_group"
                    id="All"
                    value="All" />
                  <label class="form-check-label" for="All">All Visitors</label>
                </div>                   
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
              <i class="menu-icon tf-icons bx bx-x"></i>
              Close
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              <i class="menu-icon tf-icons bx bx-user-plus"></i>
              Save Visitor
            </button>
          </div>
        </form>
      </div>
    </div>
</div>

<script>
  // jQuery script to show/hide the conditional part based on the selected value
  $(document).ready(function () {
      $('#smsTemplate').change(function () {
          if ($(this).val() === 'VISITORS') {
              $('#visGenderDiv').show();
          } else {
              $('#visGenderDiv').hide();
          }
      });
  });
</script>
